  .app {
    background-color: #EEF0F8;
  }

   .main-content {
    transition: margin-left 0.5s ease-in-out;
  }
  
  .main-content.open {
    margin-left: 12rem;

  }

  @media (min-width: 1200px) {
    .main-content {
      margin-left: 12rem;
    }
  }
  